[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "==3.3.2"
pytest-cov = "==2.5.1"
pytest-mock = "==1.6.3"


[packages]

pyparsing = "==2.1.0"
